1. Loading the parquet file for analysis.

In [48]:
import pandas as pd
import numpy as np

df = pd.read_parquet('cdi.parquet')

print(df.head())

   YearStart  YearEnd LocationAbbr LocationDesc DataSource  \
0       2010     2010           AK       Alaska       NVSS
1       2017     2017           AK       Alaska       NVSS
2       2018     2018           AK       Alaska       NVSS
3       2011     2011           AK       Alaska       NVSS
4       2012     2012           AK       Alaska       NVSS

                    Topic                                Question Response  \
0                 Alcohol         Chronic liver disease mortality     None
1                 Alcohol         Chronic liver disease mortality     None
2                 Alcohol         Chronic liver disease mortality     None
3  Chronic Kidney Disease  Mortality with end-stage renal disease     None
4  Chronic Kidney Disease  Mortality with end-stage renal disease     None

  DataValueUnit DataValueType  ... LocationID  TopicID QuestionID  \
0                      Number  ...          2      ALC     ALC6_0
1                      Number  ...          2      ALC     ALC6_0
2                      Number  ...          2      ALC     ALC6_0
3                      Number  ...          2      CKD     CKD1_0
4                      Number  ...          2      CKD     CKD1_0

  DataValueTypeID  StratificationCategoryID1  StratificationID1  \
0            NMBR                    OVERALL                OVR
1            NMBR                    OVERALL                OVR
2            NMBR                    OVERALL                OVR
3            NMBR                       RACE                WHT
4            NMBR                       RACE                WHT

  StratificationCategoryID2 StratificationID2 StratificationCategoryID3  \
0                      None              None                      None
1                      None              None                      None
2                      None              None                      None
3                      None              None                      None
4                      None              None                      None

  StratificationID3
0              None
1              None
2              None
3              None
4              None

[5 rows x 34 columns]

In [49]:
print(df.info)

<bound method DataFrame.info of          YearStart  YearEnd LocationAbbr   LocationDesc DataSource  \
0             2010     2010           AK         Alaska       NVSS
1             2017     2017           AK         Alaska       NVSS
2             2018     2018           AK         Alaska       NVSS
3             2011     2011           AK         Alaska       NVSS
4             2012     2012           AK         Alaska       NVSS
...            ...      ...          ...            ...        ...
1082323       2020     2020           WA     Washington      BRFSS
1082324       2020     2020           WV  West Virginia      BRFSS
1082325       2020     2020           WY        Wyoming      BRFSS
1082326       2020     2020           VT        Vermont      BRFSS
1082327       2020     2020           WI      Wisconsin      BRFSS

                                                   Topic  \
0                                                Alcohol
1                                                Alcohol
2                                                Alcohol
3                                 Chronic Kidney Disease
4                                 Chronic Kidney Disease
...                                                  ...
1082323  Nutrition, Physical Activity, and Weight Status
1082324            Chronic Obstructive Pulmonary Disease
1082325            Chronic Obstructive Pulmonary Disease
1082326                           Overarching Conditions
1082327                                         Diabetes

                                                  Question Response  \
0                          Chronic liver disease mortality     None
1                          Chronic liver disease mortality     None
2                          Chronic liver disease mortality     None
3                   Mortality with end-stage renal disease     None
4                   Mortality with end-stage renal disease     None
...                                                    ...      ...
1082323              Obesity among adults aged >= 18 years     None
1082324  Prevalence of current smoking among adults >= ...     None
1082325  Influenza vaccination among noninstitutionaliz...     None
1082326  Self-rated health status among women aged 18-4...     None
1082327  Prevalence of diagnosed diabetes among adults ...     None

        DataValueUnit            DataValueType  ... LocationID  TopicID  \
0                                       Number  ...          2      ALC
1                                       Number  ...          2      ALC
2                                       Number  ...          2      ALC
3                                       Number  ...          2      CKD
4                                       Number  ...          2      CKD
...               ...                      ...  ...        ...      ...
1082323             %         Crude Prevalence  ...         53     NPAW
1082324             %  Age-adjusted Prevalence  ...         54     COPD
1082325             %         Crude Prevalence  ...         56     COPD
1082326             %         Crude Prevalence  ...         50      OVC
1082327             %  Age-adjusted Prevalence  ...         55      DIA

        QuestionID DataValueTypeID  StratificationCategoryID1  \
0           ALC6_0            NMBR                    OVERALL
1           ALC6_0            NMBR                    OVERALL
2           ALC6_0            NMBR                    OVERALL
3           CKD1_0            NMBR                       RACE
4           CKD1_0            NMBR                       RACE
...            ...             ...                        ...
1082323    NPAW1_1         CRDPREV                       RACE
1082324  COPD3_0_1      AGEADJPREV                       RACE
1082325    COPD7_0         CRDPREV                       RACE
1082326     OVC6_2         CRDPREV                       RACE
1082327     DIA2_1      AGEADJPREV                       RACE

         StratificationID1 StratificationCategoryID2 StratificationID2  \
0                      OVR                      None              None
1                      OVR                      None              None
2                      OVR                      None              None
3                      WHT                      None              None
4                      WHT                      None              None
...                    ...                       ...               ...
1082323                BLK                      None              None
1082324                WHT                      None              None
1082325                WHT                      None              None
1082326                OTH                      None              None
1082327                MRC                      None              None

        StratificationCategoryID3 StratificationID3
0                            None              None
1                            None              None
2                            None              None
3                            None              None
4                            None              None
...                           ...               ...
1082323                      None              None
1082324                      None              None
1082325                      None              None
1082326                      None              None
1082327                      None              None

[1082328 rows x 34 columns]>

In [50]:
print(df.isna().sum())

YearStart                          0
YearEnd                            0
LocationAbbr                       0
LocationDesc                       0
DataSource                         0
Topic                              0
Question                           0
Response                     1082328
DataValueUnit                      0
DataValueType                      0
DataValue                          0
DataValueAlt                  355136
DataValueFootnoteSymbol            0
DatavalueFootnote                  0
LowConfidenceLimit            465077
HighConfidenceLimit           465077
StratificationCategory1            0
Stratification1                    0
StratificationCategory2      1082328
Stratification2              1082328
StratificationCategory3      1082328
Stratification3              1082328
GeoLocation                        0
ResponseID                   1082328
LocationID                         0
TopicID                            0
QuestionID                         0
DataValueTypeID                    0
StratificationCategoryID1          0
StratificationID1                  0
StratificationCategoryID2    1082328
StratificationID2            1082328
StratificationCategoryID3    1082328
StratificationID3            1082328
dtype: int64

In [51]:
print(df.shape)

(1082328, 34)

In [52]:
print(df.columns)

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [53]:
print(df[['YearEnd','DataValue']].describe(include="all"))

             YearEnd DataValue
count   1.082328e+06   1082328
unique           NaN     42288
top              NaN
freq             NaN    353093
mean    2.015196e+03       NaN
std     2.738999e+00       NaN
min     2.001000e+03       NaN
25%     2.013000e+03       NaN
50%     2.015000e+03       NaN
75%     2.017000e+03       NaN
max     2.021000e+03       NaN

In [54]:
print(df.describe(include='all'))

           YearStart       YearEnd LocationAbbr LocationDesc DataSource  \
count   1.082328e+06  1.082328e+06      1082328      1082328    1082328
unique           NaN           NaN           55           55         31
top              NaN           NaN           NY     New York      BRFSS
freq             NaN           NaN        20608        20608     597950
mean    2.014678e+03  2.015196e+03          NaN          NaN        NaN
std     3.082694e+00  2.738999e+00          NaN          NaN        NaN
min     2.001000e+03  2.001000e+03          NaN          NaN        NaN
25%     2.012000e+03  2.013000e+03          NaN          NaN        NaN
50%     2.015000e+03  2.015000e+03          NaN          NaN        NaN
75%     2.017000e+03  2.017000e+03          NaN          NaN        NaN
max     2.021000e+03  2.021000e+03          NaN          NaN        NaN

          Topic                                           Question Response  \
count   1082328                                            1082328        0
unique       17                                                203        0
top      Cancer  Hospitalization for hip fracture among Medicar...      NaN
freq     156371                                              12480      NaN
mean        NaN                                                NaN      NaN
std         NaN                                                NaN      NaN
min         NaN                                                NaN      NaN
25%         NaN                                                NaN      NaN
50%         NaN                                                NaN      NaN
75%         NaN                                                NaN      NaN
max         NaN                                                NaN      NaN

       DataValueUnit     DataValueType  ...    LocationID  TopicID QuestionID  \
count        1082328           1082328  ...  1.082328e+06  1082328    1082328
unique            13                19  ...           NaN       17        203
top                %  Crude Prevalence  ...           NaN      CAN     OLD1_0
freq          599411            339878  ...           NaN   156371      12480
mean             NaN               NaN  ...  3.080346e+01      NaN        NaN
std              NaN               NaN  ...  1.752053e+01      NaN        NaN
min              NaN               NaN  ...  1.000000e+00      NaN        NaN
25%              NaN               NaN  ...  1.700000e+01      NaN        NaN
50%              NaN               NaN  ...  3.000000e+01      NaN        NaN
75%              NaN               NaN  ...  4.500000e+01      NaN        NaN
max              NaN               NaN  ...  7.800000e+01      NaN        NaN

       DataValueTypeID  StratificationCategoryID1  StratificationID1  \
count          1082328                    1082328            1082328
unique              19                          3                 13
top            CRDPREV                       RACE                OVR
freq            339878                     673808             152290
mean               NaN                        NaN                NaN
std                NaN                        NaN                NaN
min                NaN                        NaN                NaN
25%                NaN                        NaN                NaN
50%                NaN                        NaN                NaN
75%                NaN                        NaN                NaN
max                NaN                        NaN                NaN

       StratificationCategoryID2 StratificationID2 StratificationCategoryID3  \
count                          0                 0                         0
unique                         0                 0                         0
top                          NaN               NaN                       NaN
freq                         NaN               NaN                       NaN
mean                         NaN               NaN                       NaN
std                          NaN               NaN                       NaN
min                          NaN               NaN                       NaN
25%                          NaN               NaN                       NaN
50%                          NaN               NaN                       NaN
75%                          NaN               NaN                       NaN
max                          NaN               NaN                       NaN

       StratificationID3
count                  0
unique                 0
top                  NaN
freq                 NaN
mean                 NaN
std                  NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN

[11 rows x 34 columns]

Drop the null data, first the empty columns.

In [55]:
df = df.drop(columns=['Response', 'StratificationCategory2', 'Stratification2', 'StratificationCategory3', 'Stratification3', 'ResponseID', 'StratificationCategoryID2', 'StratificationID2', 'StratificationCategoryID3','StratificationID3'])

In [56]:
print(df.shape)

(1082328, 24)

In [57]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2010,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
1,2017,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
2,2018,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
3,2011,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
4,2012,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082323,2020,2020,WA,Washington,BRFSS,"Nutrition, Physical Activity, and Weight Status",Obesity among adults aged >= 18 years,%,Crude Prevalence,37.2,...,44.4,Race/Ethnicity,"Black, non-Hispanic",POINT (-120.47001078999972 47.52227862900048),53,NPAW,NPAW1_1,CRDPREV,RACE,BLK
1082324,2020,2020,WV,West Virginia,BRFSS,Chronic Obstructive Pulmonary Disease,Prevalence of current smoking among adults >= ...,%,Age-adjusted Prevalence,47.6,...,52.2,Race/Ethnicity,"White, non-Hispanic",POINT (-80.71264013499967 38.66551020200046),54,COPD,COPD3_0_1,AGEADJPREV,RACE,WHT
1082325,2020,2020,WY,Wyoming,BRFSS,Chronic Obstructive Pulmonary Disease,Influenza vaccination among noninstitutionaliz...,%,Crude Prevalence,58.2,...,65.6,Race/Ethnicity,"White, non-Hispanic",POINT (-108.10983035299967 43.23554134300048),56,COPD,COPD7_0,CRDPREV,RACE,WHT
1082326,2020,2020,VT,Vermont,BRFSS,Overarching Conditions,Self-rated health status among women aged 18-4...,%,Crude Prevalence,90.5,...,96.0,Race/Ethnicity,"Other, non-Hispanic",POINT (-72.51764079099962 43.62538123900049),50,OVC,OVC6_2,CRDPREV,RACE,OTH
1082327,2020,2020,WI,Wisconsin,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,,...,NaN,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-89.81637074199966 44.39319117400049),55,DIA,DIA2_1,AGEADJPREV,RACE,MRC

Exploring if the data is available per year or per period

In [58]:
df['diff_year'] = np.where((df['YearStart'] != df['YearEnd']),'Period','Year')
df_per_period = df[df['diff_year'].str.contains('Period')]
# Veryfing the shape of the new database
df_per_period.shape

(140986, 25)

In [59]:
#Checking the empty values in the new database
df_per_period.isna().sum()

YearStart                        0
YearEnd                          0
LocationAbbr                     0
LocationDesc                     0
DataSource                       0
Topic                            0
Question                         0
DataValueUnit                    0
DataValueType                    0
DataValue                        0
DataValueAlt                 37805
DataValueFootnoteSymbol          0
DatavalueFootnote                0
LowConfidenceLimit           71856
HighConfidenceLimit          71856
StratificationCategory1          0
Stratification1                  0
GeoLocation                      0
LocationID                       0
TopicID                          0
QuestionID                       0
DataValueTypeID                  0
StratificationCategoryID1        0
StratificationID1                0
diff_year                        0
dtype: int64

In [60]:
#Check for duplicates in the new database
df_per_period.duplicated().sum()

0

In [61]:
#Exporting to csv for a different analysis
df_per_period.to_csv('dataperiod.csv')

Creating a new data frame per year

In [62]:
#Finding the number of data available to National and State level
df_per_year = df[df['diff_year'].str.contains('Year')]
df_per_year.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,diff_year
0,2010,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
1,2017,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
2,2018,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
3,2011,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,...,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT,Year
4,2012,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,...,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT,Year

In [63]:
df_per_year.shape

(941342, 25)

In [64]:
df_per_period.isna().sum()

YearStart                        0
YearEnd                          0
LocationAbbr                     0
LocationDesc                     0
DataSource                       0
Topic                            0
Question                         0
DataValueUnit                    0
DataValueType                    0
DataValue                        0
DataValueAlt                 37805
DataValueFootnoteSymbol          0
DatavalueFootnote                0
LowConfidenceLimit           71856
HighConfidenceLimit          71856
StratificationCategory1          0
Stratification1                  0
GeoLocation                      0
LocationID                       0
TopicID                          0
QuestionID                       0
DataValueTypeID                  0
StratificationCategoryID1        0
StratificationID1                0
diff_year                        0
dtype: int64

In [65]:
df_per_year.duplicated().sum()

0

In [66]:
#Dropping columns after check if the data is the same
df_per_year = df_per_year.drop(columns=['YearEnd', 'diff_year'])

In [67]:
#Check if the changes were applied
df_per_year.shape

(941342, 23)

In [68]:
# Rename columns to simplify the analysis
df_per_year = df_per_year.rename({'YearStart': 'Year', 'LocationDesc': 'State', 'LocationAbbr': 'StateAbbr'}, axis=1)

In [69]:
#Veryfy if the columns are renamed
df_per_year.head()

,Year,StateAbbr,State,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,70.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
1,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,121.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
2,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,121.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
3,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,221.0,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
4,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,234.0,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT

Look over if the column DataValue and DataValueAlt have the same data and drop one

In [70]:
#Before comparison between the data, we checked the data types.
df_per_year.dtypes

Year                           int64
StateAbbr                     object
State                         object
DataSource                    object
Topic                         object
Question                      object
DataValueUnit                 object
DataValueType                 object
DataValue                     object
DataValueAlt                 float64
DataValueFootnoteSymbol       object
DatavalueFootnote             object
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
GeoLocation                   object
LocationID                     int64
TopicID                       object
QuestionID                    object
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
dtype: object

In [71]:
#Converting both Columns into numbers to proceed to compare.
cols = ['DataValueAlt', 'DataValue']
df_per_year[cols] = df_per_year[cols].apply(pd.to_numeric, errors='coerce')
df_per_year['DataValueAlt'].convert_dtypes()
df_per_year.dtypes

Year                           int64
StateAbbr                     object
State                         object
DataSource                    object
Topic                         object
Question                      object
DataValueUnit                 object
DataValueType                 object
DataValue                    float64
DataValueAlt                 float64
DataValueFootnoteSymbol       object
DatavalueFootnote             object
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
GeoLocation                   object
LocationID                     int64
TopicID                       object
QuestionID                    object
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
dtype: object

In [72]:
#Counting the empty values, because Python can't compare it.
df_per_year[df_per_year['DataValueAlt'].isna()]

,Year,StateAbbr,State,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
13,2011,AK,Alaska,PRAMS,Tobacco,Cigarette smoking before pregnancy,%,Crude Prevalence,NaN,NaN,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,TOB,TOB1_4,CRDPREV,OVERALL,OVR
14,2017,AK,Alaska,SEDD; SID,Asthma,Emergency department visit rate for asthma,"cases per 10,000",Age-adjusted Rate,NaN,NaN,...,NaN,Race/Ethnicity,Hispanic,POINT (-147.72205903599973 64.84507995700051),2,AST,AST2_1,AGEADJRATE,RACE,HIS
15,2010,AK,Alaska,SEDD; SID,Diabetes,Amputation of a lower extremity attributable t...,,Number,NaN,NaN,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,DIA,DIA4_0,NMBR,OVERALL,OVR
32,2014,AL,Alabama,SEDD; SID,Asthma,Hospitalizations for asthma,"cases per 10,000",Crude Rate,NaN,NaN,...,NaN,Gender,Male,POINT (-86.63186076199969 32.84057112200048),1,AST,AST3_1,CRDRATE,GENDER,GENM
33,2017,AL,Alabama,SEDD; SID,Cardiovascular Disease,Hospitalization for stroke,,Number,NaN,NaN,...,NaN,Gender,Male,POINT (-86.63186076199969 32.84057112200048),1,CVD,CVD3_1,NMBR,GENDER,GENM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082314,2020,WV,West Virginia,BRFSS,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,%,Age-adjusted Prevalence,NaN,NaN,...,NaN,Race/Ethnicity,"Black, non-Hispanic",POINT (-80.71264013499967 38.66551020200046),54,CVD,CVD10_2,AGEADJPREV,RACE,BLK
1082316,2020,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,%,Crude Prevalence,NaN,NaN,...,NaN,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-108.10983035299967 43.23554134300048),56,AST,AST6_2,CRDPREV,RACE,MRC
1082319,2020,WI,Wisconsin,BRFSS,Chronic Obstructive Pulmonary Disease,Pneumococcal vaccination among noninstitutiona...,%,Age-adjusted Prevalence,NaN,NaN,...,NaN,Race/Ethnicity,Hispanic,POINT (-89.81637074199966 44.39319117400049),55,COPD,COPD8_0,AGEADJPREV,RACE,HIS
1082321,2020,VT,Vermont,BRFSS,Overarching Conditions,Prevalence of sufficient sleep among adults ag...,%,Crude Prevalence,NaN,NaN,...,NaN,Race/Ethnicity,"Black, non-Hispanic",POINT (-72.51764079099962 43.62538123900049),50,OVC,OVC8_0,CRDPREV,RACE,BLK
1082327,2020,WI,Wisconsin,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,NaN,NaN,...,NaN,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-89.81637074199966 44.39319117400049),55,DIA,DIA2_1,AGEADJPREV,RACE,MRC

In [73]:
#Adding a new column name data_values to filter if they are different before dropping it.
df_per_year['data_values'] = np.where((df_per_year['DataValue'] != df_per_year['DataValueAlt']),'Different','Same')

In [74]:
#Displaying the data frame with different values. Important. it is going to include the empty values.
df_per_year[df_per_year['data_values'].str.contains('Different')]

,Year,StateAbbr,State,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,...,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,data_values
13,2011,AK,Alaska,PRAMS,Tobacco,Cigarette smoking before pregnancy,%,Crude Prevalence,NaN,NaN,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,TOB,TOB1_4,CRDPREV,OVERALL,OVR,Different
14,2017,AK,Alaska,SEDD; SID,Asthma,Emergency department visit rate for asthma,"cases per 10,000",Age-adjusted Rate,NaN,NaN,...,Race/Ethnicity,Hispanic,POINT (-147.72205903599973 64.84507995700051),2,AST,AST2_1,AGEADJRATE,RACE,HIS,Different
15,2010,AK,Alaska,SEDD; SID,Diabetes,Amputation of a lower extremity attributable t...,,Number,NaN,NaN,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,DIA,DIA4_0,NMBR,OVERALL,OVR,Different
32,2014,AL,Alabama,SEDD; SID,Asthma,Hospitalizations for asthma,"cases per 10,000",Crude Rate,NaN,NaN,...,Gender,Male,POINT (-86.63186076199969 32.84057112200048),1,AST,AST3_1,CRDRATE,GENDER,GENM,Different
33,2017,AL,Alabama,SEDD; SID,Cardiovascular Disease,Hospitalization for stroke,,Number,NaN,NaN,...,Gender,Male,POINT (-86.63186076199969 32.84057112200048),1,CVD,CVD3_1,NMBR,GENDER,GENM,Different
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082314,2020,WV,West Virginia,BRFSS,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,%,Age-adjusted Prevalence,NaN,NaN,...,Race/Ethnicity,"Black, non-Hispanic",POINT (-80.71264013499967 38.66551020200046),54,CVD,CVD10_2,AGEADJPREV,RACE,BLK,Different
1082316,2020,WY,Wyoming,BRFSS,Asthma,Pneumococcal vaccination among noninstitutiona...,%,Crude Prevalence,NaN,NaN,...,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-108.10983035299967 43.23554134300048),56,AST,AST6_2,CRDPREV,RACE,MRC,Different
1082319,2020,WI,Wisconsin,BRFSS,Chronic Obstructive Pulmonary Disease,Pneumococcal vaccination among noninstitutiona...,%,Age-adjusted Prevalence,NaN,NaN,...,Race/Ethnicity,Hispanic,POINT (-89.81637074199966 44.39319117400049),55,COPD,COPD8_0,AGEADJPREV,RACE,HIS,Different
1082321,2020,VT,Vermont,BRFSS,Overarching Conditions,Prevalence of sufficient sleep among adults ag...,%,Crude Prevalence,NaN,NaN,...,Race/Ethnicity,"Black, non-Hispanic",POINT (-72.51764079099962 43.62538123900049),50,OVC,OVC8_0,CRDPREV,RACE,BLK,Different
1082327,2020,WI,Wisconsin,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,NaN,NaN,...,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-89.81637074199966 44.39319117400049),55,DIA,DIA2_1,AGEADJPREV,RACE,MRC,Different

In [75]:
#Deleting the column DataValueAtl and the column data_values
df_per_year = df_per_year.drop(columns=['DataValueAlt', 'data_values'])

In [76]:
#Check the changes
df_per_year.shape

(941342, 22)

Analyzing data from Guam, Puerto Rico and Virgin Islands separately because are unincorporated territories and lack of data

In [77]:
#Checking how much data is available
df_year_unincorporated = df_per_year[df_per_year['State'].str.contains('Guam|Puerto Rico|Virgin Islands')]
df_year_unincorporated.shape

(39046, 22)

In [78]:
#Counting the type of data with more available values to analyze
df_year_unincorporated["DataValueType"].value_counts()

Crude Prevalence                                                    17835
Age-adjusted Prevalence                                             14172
Number                                                               1353
Crude Rate                                                           1314
Age-adjusted Rate                                                    1314
Mean                                                                 1212
Age-adjusted Mean                                                    1200
Median                                                                348
Percent                                                               130
Yes/No                                                                 90
US Dollars                                                             45
Per capita alcohol consumption                                         15
Local control of the regulation of alcohol outlet density               9
Commercial host (dram shop) liability status for alcohol service        9
Name: DataValueType, dtype: int64

In [79]:
#The database has 27710 empty values
df_year_unincorporated['DataValue'].isna().sum()

27710

In [80]:
#Deleting all the missing values
df_year_unincorporated=df_year_unincorporated[~df_year_unincorporated['DataValue'].isna()]

In [81]:
#Verifying if the data is deleted
df_year_unincorporated

,Year,StateAbbr,State,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueFootnoteSymbol,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
1122,2012,GU,Guam,"HRSA, UDS",Oral Health,Oral health services at Federally Qualified He...,%,Crude Prevalence,0.0,,...,NaN,Overall,Overall,POINT (144.793731 13.444304),66,ORH,ORH3_0,CRDPREV,OVERALL,OVR
1134,2018,PR,Puerto Rico,PRAMS,Alcohol,Alcohol use before pregnancy,%,Crude Prevalence,43.3,,...,47.3,Race/Ethnicity,Hispanic,POINT (-66.590149 18.220833),72,ALC,ALC1_2,CRDPREV,RACE,HIS
1604,2011,GU,Guam,BRFSS,Alcohol,Heavy drinking among adults aged >= 18 years,%,Crude Prevalence,4.4,,...,6.5,Gender,Female,POINT (144.793731 13.444304),66,ALC,ALC5_1,CRDPREV,GENDER,GENF
1605,2013,GU,Guam,BRFSS,Arthritis,Arthritis among adults aged >= 18 years,%,Crude Prevalence,15.8,,...,19.4,Gender,Male,POINT (144.793731 13.444304),66,ART,ART1_1,CRDPREV,GENDER,GENM
1610,2014,GU,Guam,BRFSS,Asthma,Current asthma prevalence among adults aged >=...,%,Crude Prevalence,2.9,,...,4.7,Gender,Male,POINT (144.793731 13.444304),66,AST,AST1_1,CRDPREV,GENDER,GENM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076845,2020,PR,Puerto Rico,BRFSS,"Nutrition, Physical Activity, and Weight Status",No leisure-time physical activity among adults...,%,Age-adjusted Prevalence,44.7,,...,46.8,Race/Ethnicity,Hispanic,POINT (-66.590149 18.220833),72,NPAW,NPAW10_0,AGEADJPREV,RACE,HIS
1076903,2020,PR,Puerto Rico,BRFSS,Asthma,Influenza vaccination among noninstitutionaliz...,%,Age-adjusted Prevalence,46.6,,...,61.4,Race/Ethnicity,Hispanic,POINT (-66.590149 18.220833),72,AST,AST5_2,AGEADJPREV,RACE,HIS
1076967,2020,PR,Puerto Rico,BRFSS,Diabetes,Foot examination among adults aged >= 18 years...,%,Crude Prevalence,38.5,,...,50.0,Gender,Female,POINT (-66.590149 18.220833),72,DIA,DIA5_0,CRDPREV,GENDER,GENF
1076971,2020,PR,Puerto Rico,BRFSS,Cancer,"Fecal occult blood test, sigmoidoscopy, or col...",%,Crude Prevalence,68.7,,...,74.0,Gender,Male,POINT (-66.590149 18.220833),72,CAN,CAN3_0,CRDPREV,GENDER,GENM
1076980,2020,PR,Puerto Rico,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,%,Crude Prevalence,0.6,,...,1.1,Gender,Female,POINT (-66.590149 18.220833),72,TOB,TOB2_2,CRDPREV,GENDER,GENF

In [82]:
#Analyzing the DataValueTye available per year
pd.crosstab(df_year_unincorporated.DataValueType,df_year_unincorporated.Year)

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
DataValueType,,,,,,,,,,,
Age-adjusted Mean,0,38,51,48,49,50,70,48,48,51,48
Age-adjusted Prevalence,0,425,447,479,457,449,581,431,407,461,409
Crude Prevalence,19,498,525,603,550,549,676,586,487,656,457
Mean,0,40,45,49,49,49,70,48,45,50,47
Median,0,24,0,25,0,26,0,38,0,40,0
Number,1,1,1,1,1,1,1,1,2,2,0
Percent,0,0,0,0,4,0,1,1,7,7,6

In [83]:
#Analyzin the DataValueType available per Topic
pd.crosstab(df_year_unincorporated.DataValueType,df_year_unincorporated.Topic)

Topic,Alcohol,Arthritis,Asthma,Cancer,Cardiovascular Disease,Chronic Kidney Disease,Chronic Obstructive Pulmonary Disease,Diabetes,Disability,Immunization,Mental Health,"Nutrition, Physical Activity, and Weight Status",Older Adults,Oral Health,Overarching Conditions,Reproductive Health,Tobacco
DataValueType,,,,,,,,,,,,,,,,,
Age-adjusted Mean,174,0,0,0,0,0,0,0,0,0,114,0,0,0,213,0,0
Age-adjusted Prevalence,214,669,261,117,391,81,376,807,0,117,0,600,84,190,270,0,369
Crude Prevalence,326,672,292,141,419,81,379,874,50,117,46,844,139,226,481,66,453
Mean,173,0,0,0,0,0,0,0,0,0,108,4,0,0,207,0,0
Median,0,0,0,0,0,0,0,0,0,0,0,153,0,0,0,0,0
Number,0,0,0,0,0,0,0,0,0,0,0,2,0,0,10,0,0
Percent,0,0,0,0,0,0,0,0,0,0,0,19,0,0,0,0,7

In [96]:
pd.crosstab(df_year_unincorporated.DataValueType,df_year_unincorporated.StratificationCategory1)

StratificationCategory1  Gender  Overall  Race/Ethnicity
DataValueType
Age-adjusted Mean           208      105             188
Age-adjusted Prevalence    1854     1103            1589
Crude Prevalence           2083     1508            2015
Mean                        208      109             175
Median                       56       35              62
Number                        0       12               0
Percent                       0       26               0

In [84]:
df_year_unincorporated.to_csv('dataunincorporated.csv')

Analysis 50 states - MAINLAND US and National index

In [85]:
df_year_mainland = df_per_year[df_per_year['State'].str.contains('Guam|Puerto Rico|Virgin Islands') == False]

In [86]:
df_year_mainland.shape

(902296, 22)

In [87]:
# Check the data available, Crude Prevalence and Age-Adjusted Prevalence are the most available data.
df_year_mainland["DataValueType"].value_counts()

Crude Prevalence                                                    320833
Age-adjusted Prevalence                                             242678
Number                                                               96761
Crude Rate                                                           94162
Age-adjusted Rate                                                    94162
Mean                                                                 20758
Age-adjusted Mean                                                    20550
Median                                                                5982
Percent                                                               2501
Yes/No                                                                1689
Adjusted by age, sex, race and ethnicity                               832
US Dollars                                                             765
Per capita alcohol consumption                                         260
Local control of the regulation of alcohol outlet density              156
Commercial host (dram shop) liability status for alcohol service       155
Prevalence                                                              52
Name: DataValueType, dtype: int64

In [88]:
#Counting the missing values.
df_year_mainland['DataValue'].isna().sum()

289621

In [89]:
#Due to the heterogeneity of the sources, years of the data, we are going to drop the missing values.
#Deleting the missing values
df_year_mainland=df_year_mainland[~df_year_mainland['DataValue'].isna()]

In [91]:
df_year_mainland.shape

(612675, 22)

In [99]:
#Analyzing the DataValueTye available per year
pd.crosstab(df_year_mainland.DataValueType,df_year_mainland.Year)

Year,2001,2007,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
DataValueType,,,,,,,,,,,,,,
"Adjusted by age, sex, race and ethnicity",0,0,0,0,104,104,104,104,104,104,104,104,0,0
Age-adjusted Mean,0,0,0,0,1240,1704,1684,1675,1659,1685,1709,1707,1684,1681
Age-adjusted Prevalence,0,0,0,0,16045,16310,17941,16097,17629,15919,16864,15824,16465,15408
Age-adjusted Rate,0,0,0,6701,5142,5160,6456,6842,6777,6809,6896,7258,5390,0
Crude Prevalence,0,0,0,1425,18960,20341,24330,20388,23547,19987,23946,19971,23355,17297
Crude Rate,0,0,0,6701,5142,5160,6456,6842,6777,6809,6896,7258,5390,0
Mean,0,0,0,0,1278,1445,1705,1641,1685,1662,1686,1741,1667,1670
Median,0,0,0,0,788,0,853,0,850,0,1261,0,1215,0
Number,104,0,312,6753,5298,5368,6663,7049,6933,7016,7155,7828,5544,0
Per capita alcohol consumption,0,0,0,52,0,0,0,52,0,52,0,52,52,0
Percent,0,51,0,0,52,414,156,452,104,349,104,421,200,104
Prevalence,0,0,0,52,0,0,0,0,0,0,0,0,0,0
US Dollars,0,0,0,0,0,123,0,0,123,0,123,0,123,123

In [94]:
#Analyzing the DataValueType available per Topic
pd.crosstab(df_year_mainland.DataValueType,df_year_mainland.Topic)

Topic,Alcohol,Arthritis,Asthma,Cancer,Cardiovascular Disease,Chronic Kidney Disease,Chronic Obstructive Pulmonary Disease,Diabetes,Disability,Immunization,Mental Health,"Nutrition, Physical Activity, and Weight Status",Older Adults,Oral Health,Overarching Conditions,Reproductive Health,Tobacco
DataValueType,,,,,,,,,,,,,,,,,
"Adjusted by age, sex, race and ethnicity",0,0,0,0,0,832,0,0,0,0,0,0,0,0,0,0,0
Age-adjusted Mean,5357,0,0,0,0,0,0,0,0,0,3899,0,0,0,7172,0,0
Age-adjusted Prevalence,6335,23094,12214,3929,16090,2627,18026,25901,0,3954,0,20381,2798,6314,9012,0,13827
Age-adjusted Rate,2736,0,3445,0,22745,3313,17043,7508,0,0,0,0,2960,0,3681,0,0
Crude Prevalence,11958,22806,13570,4878,16920,2587,17736,27114,3189,3939,1852,29797,6365,8417,19242,4807,18370
Crude Rate,2736,0,3445,0,22745,3313,17043,7508,0,0,0,0,2960,0,3681,0,0
Mean,5342,0,0,0,0,0,0,0,0,0,3613,206,0,0,7019,0,0
Median,0,0,0,0,0,0,0,0,0,0,0,4967,0,0,0,0,0
Number,2736,0,3445,0,22745,4145,17043,7508,0,0,0,206,2960,0,4929,0,306
Per capita alcohol consumption,260,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Percent,0,0,0,0,0,0,0,0,0,0,0,1706,0,208,0,0,493
Prevalence,0,0,0,0,0,0,0,52,0,0,0,0,0,0,0,0,0
US Dollars,615,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [97]:
#Analyzing the DataValueType available per Gender and Race
pd.crosstab(df_year_mainland.DataValueType,df_year_mainland.StratificationCategory1)

StratificationCategory1                   Gender  Overall  Race/Ethnicity
DataValueType
Adjusted by age, sex, race and ethnicity       0      832               0
Age-adjusted Mean                           5190     2595            8643
Age-adjusted Prevalence                    56731    29350           78421
Age-adjusted Rate                          19733    10169           33529
Crude Prevalence                           64115    42434          106998
Crude Rate                                 19733    10169           33529
Mean                                        5190     2801            8189
Median                                      1326      808            2833
Number                                     20149    12345           33529
Per capita alcohol consumption                 0      260               0
Percent                                        0     2407               0
Prevalence                                     0       52               0
US Dollars                                     0      615               0

In [104]:
#Analyzing the Gender/Race data available per year
pd.crosstab(df_year_mainland.StratificationCategory1,df_year_mainland.Year)

Year,2001,2007,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
StratificationCategory1,,,,,,,,,,,,,,
Gender,0,0,208,6776,18160,17639,20711,19125,20798,18601,20611,18963,18976,11599
Overall,104,51,104,3851,10380,10919,12293,11708,12264,11343,12094,11649,11146,6931
Race/Ethnicity,0,0,0,11057,25509,27571,33344,30309,33126,30448,34039,31552,30963,17753

In [103]:
#Analyzing the data per Type, Year and Topic. As we can see,
crosstb1 = pd.crosstab(index = df_year_mainland['DataValueType'],
                       columns = [df_year_mainland['Year'], df_year_mainland['Topic'], df_year_mainland['StratificationCategory1'] ] ,
                       normalize=True, margins = True,
                       margins_name= "Total") *100

crosstb1.astype(str).applymap(lambda x:x + '%')
crosstb1.sort_values('Total', ascending=False)

Year                                                       2001      2007  \
Topic                                    Overarching Conditions   Tobacco
StratificationCategory1                                 Overall   Overall
DataValueType
Total                                                  0.016975  0.008324
Crude Prevalence                                       0.000000  0.000000
Age-adjusted Prevalence                                0.000000  0.000000
Number                                                 0.016975  0.000000
Age-adjusted Rate                                      0.000000  0.000000
Crude Rate                                             0.000000  0.000000
Age-adjusted Mean                                      0.000000  0.000000
Mean                                                   0.000000  0.000000
Median                                                 0.000000  0.000000
Percent                                                0.000000  0.008324
Adjusted by age, sex, race and ethnicity               0.000000  0.000000
US Dollars                                             0.000000  0.000000
Per capita alcohol consumption                         0.000000  0.000000
Prevalence                                             0.000000  0.000000

Year                                                       2009            \
Topic                                    Overarching Conditions
StratificationCategory1                                  Gender   Overall
DataValueType
Total                                                  0.033949  0.016975
Crude Prevalence                                       0.000000  0.000000
Age-adjusted Prevalence                                0.000000  0.000000
Number                                                 0.033949  0.016975
Age-adjusted Rate                                      0.000000  0.000000
Crude Rate                                             0.000000  0.000000
Age-adjusted Mean                                      0.000000  0.000000
Mean                                                   0.000000  0.000000
Median                                                 0.000000  0.000000
Percent                                                0.000000  0.000000
Adjusted by age, sex, race and ethnicity               0.000000  0.000000
US Dollars                                             0.000000  0.000000
Per capita alcohol consumption                         0.000000  0.000000
Prevalence                                             0.000000  0.000000

Year                                          2010                           \
Topic                                      Alcohol
StratificationCategory1                     Gender   Overall Race/Ethnicity
DataValueType
Total                                     0.049455  0.033949       0.054352
Crude Prevalence                          0.000000  0.000000       0.000000
Age-adjusted Prevalence                   0.000000  0.000000       0.000000
Number                                    0.016485  0.008487       0.018117
Age-adjusted Rate                         0.016485  0.008487       0.018117
Crude Rate                                0.016485  0.008487       0.018117
Age-adjusted Mean                         0.000000  0.000000       0.000000
Mean                                      0.000000  0.000000       0.000000
Median                                    0.000000  0.000000       0.000000
Percent                                   0.000000  0.000000       0.000000
Adjusted by age, sex, race and ethnicity  0.000000  0.000000       0.000000
US Dollars                                0.000000  0.000000       0.000000
Per capita alcohol consumption            0.000000  0.008487       0.000000
Prevalence                                0.000000  0.000000       0.000000

Year                                                                         \
Topic                                       Asthma
StratificationCategory1                     Gender   Overall Race/Ethnicity
DataValueType
Total                                     0.070021  0.040641       0.079814
Crude Prevalence                          0.000000  0.000000       0.000000
Age-adjusted Prevalence                   0.000000  0.000000       0.000000
Number                                    0.023340  0.013547       0.026605
Age-adjusted Rate                         0.023340  0.013547       0.026605
Crude Rate                                0.023340  0.013547       0.026605
Age-adjusted Mean                         0.000000  0.000000       0.000000
Mean                                      0.000000  0.000000       0.000000
Median                                    0.000000  0.000000       0.000000
Percent                                   0.000000  0.000000       0.000000
Adjusted by age, sex, race and ethnicity  0.000000  0.000000       0.000000
US Dollars                                0.000000  0.000000       0.000000
Per capita alcohol consumption            0.000000  0.000000       0.000000
Prevalence                                0.000000  0.000000       0.000000

Year                                      ...           2020  \
Topic                                     ...    Oral Health
StratificationCategory1                   ... Race/Ethnicity
DataValueType                             ...
Total                                     ...       0.228180
Crude Prevalence                          ...       0.113437
Age-adjusted Prevalence                   ...       0.114743
Number                                    ...       0.000000
Age-adjusted Rate                         ...       0.000000
Crude Rate                                ...       0.000000
Age-adjusted Mean                         ...       0.000000
Mean                                      ...       0.000000
Median                                    ...       0.000000
Percent                                   ...       0.000000
Adjusted by age, sex, race and ethnicity  ...       0.000000
US Dollars                                ...       0.000000
Per capita alcohol consumption            ...       0.000000
Prevalence                                ...       0.000000

Year                                                                       \
Topic                                    Overarching Conditions
StratificationCategory1                                  Gender   Overall
DataValueType
Total                                                  0.169747  0.101848
Crude Prevalence                                       0.050924  0.042437
Age-adjusted Prevalence                                0.050924  0.025462
Number                                                 0.000000  0.000000
Age-adjusted Rate                                      0.000000  0.000000
Crude Rate                                             0.000000  0.000000
Age-adjusted Mean                                      0.033949  0.016975
Mean                                                   0.033949  0.016975
Median                                                 0.000000  0.000000
Percent                                                0.000000  0.000000
Adjusted by age, sex, race and ethnicity               0.000000  0.000000
US Dollars                                             0.000000  0.000000
Per capita alcohol consumption                         0.000000  0.000000
Prevalence                                             0.000000  0.000000

Year                                                                         \
Topic                                                   Reproductive Health
StratificationCategory1                  Race/Ethnicity             Overall
DataValueType
Total                                          0.422410            0.008487
Crude Prevalence                               0.171543            0.008487
Age-adjusted Prevalence                        0.108540            0.000000
Number                                         0.000000            0.000000
Age-adjusted Rate                              0.000000            0.000000
Crude Rate                                     0.000000            0.000000
Age-adjusted Mean                              0.072306            0.000000
Mean                                           0.070021            0.000000
Median                                         0.000000            0.000000
Percent                                        0.000000            0.000000
Adjusted by age, sex, race and ethnicity       0.000000            0.000000
US Dollars                                     0.000000            0.000000
Per capita alcohol consumption                 0.000000            0.000000
Prevalence                                     0.000000            0.000000

Year                                                                         \
Topic                                                     Tobacco
StratificationCategory1                  Race/Ethnicity    Gender   Overall
DataValueType
Total                                          0.024646  0.162239  0.101848
Crude Prevalence                               0.024646  0.081773  0.050924
Age-adjusted Prevalence                        0.000000  0.080467  0.042437
Number                                         0.000000  0.000000  0.000000
Age-adjusted Rate                              0.000000  0.000000  0.000000
Crude Rate                                     0.000000  0.000000  0.000000
Age-adjusted Mean                              0.000000  0.000000  0.000000
Mean                                           0.000000  0.000000  0.000000
Median                                         0.000000  0.000000  0.000000
Percent                                        0.000000  0.000000  0.008487
Adjusted by age, sex, race and ethnicity       0.000000  0.000000  0.000000
US Dollars                                     0.000000  0.000000  0.000000
Per capita alcohol consumption                 0.000000  0.000000  0.000000
Prevalence                                     0.000000  0.000000  0.000000

Year                                                          Total
Topic
StratificationCategory1                  Race/Ethnicity
DataValueType
Total                                          0.207451  100.000000
Crude Prevalence                               0.110662   34.854858
Age-adjusted Prevalence                        0.096789   26.849798
Number                                         0.000000   10.776186
Age-adjusted Rate                              0.000000   10.353124
Crude Rate                                     0.000000   10.353124
Age-adjusted Mean                              0.000000    2.681356
Mean                                           0.000000    2.640878
Median                                         0.000000    0.810707
Percent                                        0.000000    0.392867
Adjusted by age, sex, race and ethnicity       0.000000    0.135798
US Dollars                                     0.000000    0.100379
Per capita alcohol consumption                 0.000000    0.042437
Prevalence                                     0.000000    0.008487

[14 rows x 513 columns]