1. Loading the parquet file for analysis.

In [12]:
import pandas as pd
import numpy as np

df = pd.read_parquet('cdi.parquet')

print(df.head())

   YearStart  YearEnd LocationAbbr LocationDesc DataSource  \
0       2010     2010           AK       Alaska       NVSS
1       2017     2017           AK       Alaska       NVSS
2       2018     2018           AK       Alaska       NVSS
3       2011     2011           AK       Alaska       NVSS
4       2012     2012           AK       Alaska       NVSS

                    Topic                                Question Response  \
0                 Alcohol         Chronic liver disease mortality     None
1                 Alcohol         Chronic liver disease mortality     None
2                 Alcohol         Chronic liver disease mortality     None
3  Chronic Kidney Disease  Mortality with end-stage renal disease     None
4  Chronic Kidney Disease  Mortality with end-stage renal disease     None

  DataValueUnit DataValueType  ... LocationID  TopicID QuestionID  \
0                      Number  ...          2      ALC     ALC6_0
1                      Number  ...          2      ALC     ALC6_0
2                      Number  ...          2      ALC     ALC6_0
3                      Number  ...          2      CKD     CKD1_0
4                      Number  ...          2      CKD     CKD1_0

  DataValueTypeID  StratificationCategoryID1  StratificationID1  \
0            NMBR                    OVERALL                OVR
1            NMBR                    OVERALL                OVR
2            NMBR                    OVERALL                OVR
3            NMBR                       RACE                WHT
4            NMBR                       RACE                WHT

  StratificationCategoryID2 StratificationID2 StratificationCategoryID3  \
0                      None              None                      None
1                      None              None                      None
2                      None              None                      None
3                      None              None                      None
4                      None              None                      None

  StratificationID3
0              None
1              None
2              None
3              None
4              None

[5 rows x 34 columns]

In [13]:
print(df.info)

<bound method DataFrame.info of          YearStart  YearEnd LocationAbbr   LocationDesc DataSource  \
0             2010     2010           AK         Alaska       NVSS
1             2017     2017           AK         Alaska       NVSS
2             2018     2018           AK         Alaska       NVSS
3             2011     2011           AK         Alaska       NVSS
4             2012     2012           AK         Alaska       NVSS
...            ...      ...          ...            ...        ...
1082323       2020     2020           WA     Washington      BRFSS
1082324       2020     2020           WV  West Virginia      BRFSS
1082325       2020     2020           WY        Wyoming      BRFSS
1082326       2020     2020           VT        Vermont      BRFSS
1082327       2020     2020           WI      Wisconsin      BRFSS

                                                   Topic  \
0                                                Alcohol
1                                                Alcohol
2                                                Alcohol
3                                 Chronic Kidney Disease
4                                 Chronic Kidney Disease
...                                                  ...
1082323  Nutrition, Physical Activity, and Weight Status
1082324            Chronic Obstructive Pulmonary Disease
1082325            Chronic Obstructive Pulmonary Disease
1082326                           Overarching Conditions
1082327                                         Diabetes

                                                  Question Response  \
0                          Chronic liver disease mortality     None
1                          Chronic liver disease mortality     None
2                          Chronic liver disease mortality     None
3                   Mortality with end-stage renal disease     None
4                   Mortality with end-stage renal disease     None
...                                                    ...      ...
1082323              Obesity among adults aged >= 18 years     None
1082324  Prevalence of current smoking among adults >= ...     None
1082325  Influenza vaccination among noninstitutionaliz...     None
1082326  Self-rated health status among women aged 18-4...     None
1082327  Prevalence of diagnosed diabetes among adults ...     None

        DataValueUnit            DataValueType  ... LocationID  TopicID  \
0                                       Number  ...          2      ALC
1                                       Number  ...          2      ALC
2                                       Number  ...          2      ALC
3                                       Number  ...          2      CKD
4                                       Number  ...          2      CKD
...               ...                      ...  ...        ...      ...
1082323             %         Crude Prevalence  ...         53     NPAW
1082324             %  Age-adjusted Prevalence  ...         54     COPD
1082325             %         Crude Prevalence  ...         56     COPD
1082326             %         Crude Prevalence  ...         50      OVC
1082327             %  Age-adjusted Prevalence  ...         55      DIA

        QuestionID DataValueTypeID  StratificationCategoryID1  \
0           ALC6_0            NMBR                    OVERALL
1           ALC6_0            NMBR                    OVERALL
2           ALC6_0            NMBR                    OVERALL
3           CKD1_0            NMBR                       RACE
4           CKD1_0            NMBR                       RACE
...            ...             ...                        ...
1082323    NPAW1_1         CRDPREV                       RACE
1082324  COPD3_0_1      AGEADJPREV                       RACE
1082325    COPD7_0         CRDPREV                       RACE
1082326     OVC6_2         CRDPREV                       RACE
1082327     DIA2_1      AGEADJPREV                       RACE

         StratificationID1 StratificationCategoryID2 StratificationID2  \
0                      OVR                      None              None
1                      OVR                      None              None
2                      OVR                      None              None
3                      WHT                      None              None
4                      WHT                      None              None
...                    ...                       ...               ...
1082323                BLK                      None              None
1082324                WHT                      None              None
1082325                WHT                      None              None
1082326                OTH                      None              None
1082327                MRC                      None              None

        StratificationCategoryID3 StratificationID3
0                            None              None
1                            None              None
2                            None              None
3                            None              None
4                            None              None
...                           ...               ...
1082323                      None              None
1082324                      None              None
1082325                      None              None
1082326                      None              None
1082327                      None              None

[1082328 rows x 34 columns]>

In [14]:
print(df.isna().sum())

YearStart                          0
YearEnd                            0
LocationAbbr                       0
LocationDesc                       0
DataSource                         0
Topic                              0
Question                           0
Response                     1082328
DataValueUnit                      0
DataValueType                      0
DataValue                          0
DataValueAlt                  355136
DataValueFootnoteSymbol            0
DatavalueFootnote                  0
LowConfidenceLimit            465077
HighConfidenceLimit           465077
StratificationCategory1            0
Stratification1                    0
StratificationCategory2      1082328
Stratification2              1082328
StratificationCategory3      1082328
Stratification3              1082328
GeoLocation                        0
ResponseID                   1082328
LocationID                         0
TopicID                            0
QuestionID                         0
DataValueTypeID                    0
StratificationCategoryID1          0
StratificationID1                  0
StratificationCategoryID2    1082328
StratificationID2            1082328
StratificationCategoryID3    1082328
StratificationID3            1082328
dtype: int64

In [15]:
print(df.shape)

(1082328, 34)

In [16]:
print(df.columns)

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'GeoLocation', 'ResponseID', 'LocationID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [17]:
print(df[['YearEnd','DataValue']].describe(include="all"))

             YearEnd DataValue
count   1.082328e+06   1082328
unique           NaN     42288
top              NaN
freq             NaN    353093
mean    2.015196e+03       NaN
std     2.738999e+00       NaN
min     2.001000e+03       NaN
25%     2.013000e+03       NaN
50%     2.015000e+03       NaN
75%     2.017000e+03       NaN
max     2.021000e+03       NaN

In [18]:
print(df.describe(include='all'))

           YearStart       YearEnd LocationAbbr LocationDesc DataSource  \
count   1.082328e+06  1.082328e+06      1082328      1082328    1082328
unique           NaN           NaN           55           55         31
top              NaN           NaN           NY     New York      BRFSS
freq             NaN           NaN        20608        20608     597950
mean    2.014678e+03  2.015196e+03          NaN          NaN        NaN
std     3.082694e+00  2.738999e+00          NaN          NaN        NaN
min     2.001000e+03  2.001000e+03          NaN          NaN        NaN
25%     2.012000e+03  2.013000e+03          NaN          NaN        NaN
50%     2.015000e+03  2.015000e+03          NaN          NaN        NaN
75%     2.017000e+03  2.017000e+03          NaN          NaN        NaN
max     2.021000e+03  2.021000e+03          NaN          NaN        NaN

          Topic                                           Question Response  \
count   1082328                                            1082328        0
unique       17                                                203        0
top      Cancer  Hospitalization for hip fracture among Medicar...      NaN
freq     156371                                              12480      NaN
mean        NaN                                                NaN      NaN
std         NaN                                                NaN      NaN
min         NaN                                                NaN      NaN
25%         NaN                                                NaN      NaN
50%         NaN                                                NaN      NaN
75%         NaN                                                NaN      NaN
max         NaN                                                NaN      NaN

       DataValueUnit     DataValueType  ...    LocationID  TopicID QuestionID  \
count        1082328           1082328  ...  1.082328e+06  1082328    1082328
unique            13                19  ...           NaN       17        203
top                %  Crude Prevalence  ...           NaN      CAN     OLD1_0
freq          599411            339878  ...           NaN   156371      12480
mean             NaN               NaN  ...  3.080346e+01      NaN        NaN
std              NaN               NaN  ...  1.752053e+01      NaN        NaN
min              NaN               NaN  ...  1.000000e+00      NaN        NaN
25%              NaN               NaN  ...  1.700000e+01      NaN        NaN
50%              NaN               NaN  ...  3.000000e+01      NaN        NaN
75%              NaN               NaN  ...  4.500000e+01      NaN        NaN
max              NaN               NaN  ...  7.800000e+01      NaN        NaN

       DataValueTypeID  StratificationCategoryID1  StratificationID1  \
count          1082328                    1082328            1082328
unique              19                          3                 13
top            CRDPREV                       RACE                OVR
freq            339878                     673808             152290
mean               NaN                        NaN                NaN
std                NaN                        NaN                NaN
min                NaN                        NaN                NaN
25%                NaN                        NaN                NaN
50%                NaN                        NaN                NaN
75%                NaN                        NaN                NaN
max                NaN                        NaN                NaN

       StratificationCategoryID2 StratificationID2 StratificationCategoryID3  \
count                          0                 0                         0
unique                         0                 0                         0
top                          NaN               NaN                       NaN
freq                         NaN               NaN                       NaN
mean                         NaN               NaN                       NaN
std                          NaN               NaN                       NaN
min                          NaN               NaN                       NaN
25%                          NaN               NaN                       NaN
50%                          NaN               NaN                       NaN
75%                          NaN               NaN                       NaN
max                          NaN               NaN                       NaN

       StratificationID3
count                  0
unique                 0
top                  NaN
freq                 NaN
mean                 NaN
std                  NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN

[11 rows x 34 columns]

Drop the null data, first the empty columns.

In [19]:
df = df.drop(columns=['Response', 'StratificationCategory2', 'Stratification2', 'StratificationCategory3', 'Stratification3', 'ResponseID', 'StratificationCategoryID2', 'StratificationID2', 'StratificationCategoryID3','StratificationID3'])

In [20]:
print(df.shape)

(1082328, 24)

In [21]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2010,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
1,2017,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
2,2018,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
3,2011,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
4,2012,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082323,2020,2020,WA,Washington,BRFSS,"Nutrition, Physical Activity, and Weight Status",Obesity among adults aged >= 18 years,%,Crude Prevalence,37.2,...,44.4,Race/Ethnicity,"Black, non-Hispanic",POINT (-120.47001078999972 47.52227862900048),53,NPAW,NPAW1_1,CRDPREV,RACE,BLK
1082324,2020,2020,WV,West Virginia,BRFSS,Chronic Obstructive Pulmonary Disease,Prevalence of current smoking among adults >= ...,%,Age-adjusted Prevalence,47.6,...,52.2,Race/Ethnicity,"White, non-Hispanic",POINT (-80.71264013499967 38.66551020200046),54,COPD,COPD3_0_1,AGEADJPREV,RACE,WHT
1082325,2020,2020,WY,Wyoming,BRFSS,Chronic Obstructive Pulmonary Disease,Influenza vaccination among noninstitutionaliz...,%,Crude Prevalence,58.2,...,65.6,Race/Ethnicity,"White, non-Hispanic",POINT (-108.10983035299967 43.23554134300048),56,COPD,COPD7_0,CRDPREV,RACE,WHT
1082326,2020,2020,VT,Vermont,BRFSS,Overarching Conditions,Self-rated health status among women aged 18-4...,%,Crude Prevalence,90.5,...,96.0,Race/Ethnicity,"Other, non-Hispanic",POINT (-72.51764079099962 43.62538123900049),50,OVC,OVC6_2,CRDPREV,RACE,OTH
1082327,2020,2020,WI,Wisconsin,BRFSS,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,,...,NaN,Race/Ethnicity,"Multiracial, non-Hispanic",POINT (-89.81637074199966 44.39319117400049),55,DIA,DIA2_1,AGEADJPREV,RACE,MRC

Exploring if the data is available per year or per period

In [22]:
df['diff_year'] = np.where((df['YearStart'] != df['YearEnd']),'Period','Year')
df_per_period = df[df['diff_year'].str.contains('Period')]
# Veryfing the shape of the new database
df_per_period.shape

(140986, 25)

In [23]:
#Checking the empty values in the new database
df_per_period.isna().sum()

YearStart                        0
YearEnd                          0
LocationAbbr                     0
LocationDesc                     0
DataSource                       0
Topic                            0
Question                         0
DataValueUnit                    0
DataValueType                    0
DataValue                        0
DataValueAlt                 37805
DataValueFootnoteSymbol          0
DatavalueFootnote                0
LowConfidenceLimit           71856
HighConfidenceLimit          71856
StratificationCategory1          0
Stratification1                  0
GeoLocation                      0
LocationID                       0
TopicID                          0
QuestionID                       0
DataValueTypeID                  0
StratificationCategoryID1        0
StratificationID1                0
diff_year                        0
dtype: int64

In [24]:
#Check for duplicates in the new database
df_per_period.duplicated().sum()

0

In [25]:
#Exporting to csv for a different analysis
df_per_period.to_csv('dataperiod.csv')

Creating a new data frame per year

In [26]:
#Finding the number of data available to National and State level
df_per_year = df[df['diff_year'].str.contains('Year')]
df_per_year.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,...,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,diff_year
0,2010,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
1,2017,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
2,2018,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,...,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR,Year
3,2011,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,...,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT,Year
4,2012,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,...,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT,Year

In [27]:
df_per_year.shape

(941342, 25)

In [28]:
df_per_period.isna().sum()

YearStart                        0
YearEnd                          0
LocationAbbr                     0
LocationDesc                     0
DataSource                       0
Topic                            0
Question                         0
DataValueUnit                    0
DataValueType                    0
DataValue                        0
DataValueAlt                 37805
DataValueFootnoteSymbol          0
DatavalueFootnote                0
LowConfidenceLimit           71856
HighConfidenceLimit          71856
StratificationCategory1          0
Stratification1                  0
GeoLocation                      0
LocationID                       0
TopicID                          0
QuestionID                       0
DataValueTypeID                  0
StratificationCategoryID1        0
StratificationID1                0
diff_year                        0
dtype: int64

In [31]:
df_per_year.duplicated().sum()

0

In [32]:
df_per_year = df_per_year.drop(columns=['YearEnd', 'diff_year'])

In [33]:
df_per_year.shape

(941342, 23)

In [34]:
df_per_year = df_per_year.rename({'YearStart': 'Year', 'LocationDesc': 'State', 'LocationAbbr': 'StateAbbr'}, axis=1)

In [35]:
df_per_year.head()

,Year,StateAbbr,State,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
0,2010,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,70,70.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
1,2017,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,121.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
2,2018,AK,Alaska,NVSS,Alcohol,Chronic liver disease mortality,,Number,121,121.0,...,NaN,Overall,Overall,POINT (-147.72205903599973 64.84507995700051),2,ALC,ALC6_0,NMBR,OVERALL,OVR
3,2011,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,221,221.0,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT
4,2012,AK,Alaska,NVSS,Chronic Kidney Disease,Mortality with end-stage renal disease,,Number,234,234.0,...,NaN,Race/Ethnicity,"White, non-Hispanic",POINT (-147.72205903599973 64.84507995700051),2,CKD,CKD1_0,NMBR,RACE,WHT

In [40]:
df_per_year['State'].value_counts()

New York                17898
Wisconsin               17898
New Jersey              17892
Nebraska                17860
Iowa                    17852
Vermont                 17832
Washington              17799
New Mexico              17799
Michigan                17764
Hawaii                  17762
Colorado                17759
West Virginia           17749
Arkansas                17726
North Carolina          17723
Kentucky                17717
Oregon                  17694
Utah                    17694
Massachusetts           17691
Maryland                17688
Florida                 17653
Rhode Island            17650
Nevada                  17618
Arizona                 17613
South Carolina          17612
South Dakota            17606
Missouri                17505
Alaska                  17499
Pennsylvania            17499
Illinois                17499
Delaware                17493
Maine                   17484
Wyoming                 17482
Oklahoma                17470
New Hampshire           17446
Mississippi             17442
Connecticut             17424
California              17414
Alabama                 17400
Virginia                17400
Louisiana               17395
Tennessee               17394
Minnesota               17365
Ohio                    17330
Kansas                  17330
Georgia                 17322
Montana                 17315
North Dakota            17312
Texas                   17295
District of Columbia    17278
Indiana                 17249
Idaho                   17219
Puerto Rico             13234
Virgin Islands          12940
Guam                    12872
United States            6486
Name: State, dtype: int64

In [41]:
df_per_year.to_csv('datayear.csv')